.row-fluid
  %h2 Chat
  - if user_signed_in?
    Signed in as #{current_user.username}
    = link_to 'Sign out', destroy_user_session_path, method: :delete
    - if @room.private?
      #invite= link_to 'Add user to private chatroom', "#"
      #invitequery= text_field_tag 'inviteform', nil, placeholder: "Enter username"

  - else
    = link_to 'Sign in', new_user_session_path
    |
    = link_to 'Sign up', new_user_registration_path
  %br

- if user_signed_in?
  Session info: 
  %span#debug= session[:chat_identifier]
  %br
  = link_to "Return to Lobby", lobby_path
  %br
  .messages.inline
    - @messages.each do |msg|
      .message
        = msg.username + ": "
        = msg.content
        %br
  - if @private
    .members.inline
      .member= "*"+@owner.username
      - @members.each do |member|
        - unless member.id == @owner.id
          .member
            = member.username



  %br.clearBoth

  .row-fluid
    .chatform= render 'form'

  = subscribe_to "/" + session[:chat_identifier]
